
$text : #ffffff;
$box : #202225;
$shadow : rgba(0,0,0,0.5);
$active-shadow : #000000;
$active-item : #36393F;
$item : #40444B;

* {
    margin: 0;
    background-color: $active-item;
    font-family: 'Architects Daughter', cursive;
}

.shadow-box {
    box-shadow: 0 0 20px $shadow;
    background-color: $box;
    border-radius: 3px;
}

.shadow-text {
    text-shadow: 0 0 7px $text ;
    color: $text ;
}

.header {
    &__logo {
        height: 90px;
        margin: 10px;
        text-align: center;
    }
    &__text {
        background-color: $box;
        font-size: 55px;
        margin: 40px 0 0 0;
    }
}

.main {
    display: flex;
    flex-direction: row;
}

.button-box {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 30%;
    color: $text;
    text-align: center;
    font-size: 20px;
    &__game-button {
        width: 100px;
        height: 30px;
        color: $text;
        margin: 10px;
    }
    &__game-button:hover {
        box-shadow: 0 0 20px $active-shadow;
        text-shadow: 0 0 7px $text;
    }
}

.game-field {
    padding: 10px;
    margin: 20px;
    &__game-item {
        height: 20px;
        width: 20px;
        background-color: $item;
    }
    &__bomb-item {
        background-color: $active-item;
        width: 16px;
        height: 16px;
        background-image: url("/img/bomb.svg");
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__active-item {
        background-color: $active-item;
        font-size: 14px;
        text-align: center;
        color: $text;
    }
    &__flag-item {
        background-color: $active-item;
        background-image: url("/img/flag.svg");
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.end-game {
    position: relative;
    top: -200px;
    left: -30%;
    width: 90%;
    margin: 0 0 0 35%;
    padding: 10px;
    color: $text;
    text-align: center;
    font-size: 20px;
}

@media(max-width: 840px) {
    .button-box {
        margin: 10px 0 0 15%;
    }
}

@media(max-width: 700px) {
    .button-box {
        display: none;
    }
    .game-field {
        align-self: flex-end;
        padding: 5px;
        margin: auto;
        &__game-item {
            height: 15px;
            width: 15px;   
        }
        &__bomb-item {
            background-color: $active-item;
            width: 11px;
            height: 11px;
            background-image: url("/img/bomb.svg");
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: center;
        }
        &__active-item {
            background-color: $active-item;
            font-size: 10px;
            text-align: center;
            color: $text;
        }
        &__flag-item {
            background-color: $active-item;
            background-image: url("/img/flag.svg");
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .end-game {
        width: 80%;
        left: -28%;
    }
    .header {
        &__text {
            font-size: 40px;
            margin: 0 0 -100px 0;
        }
    }
}